*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    align-items: center;

}

h1,h2,h3{
    color: #D22701;
}


p{
    margin: 0 20px;
    color: #2F2F2F;
}

main{
    min-height: 100vh;
    padding: 10px;
}


nav{
    background-color: #D22701;  
    padding: 20px 30px;
}

nav a{
    color: bisque;
    text-decoration: none;
}

img{
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border-left: 7px solid #D22701;
    width: 800px;
    height: auto;
    box-sizing: border-box;
}

.center{
    width: 800px;
    margin: auto;
}